.header {
  text-align: center;
  margin-bottom: 40px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Menu burger */
.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.burger li {
  border: 2px solid black;
  margin: 5px;
  width: 40px;
  height: 0;
  transition: all 0.8s ease;
}

.burger li a {
  opacity: 0;
  transition: all 0.8s ease;
  display: none;
  color: var(--couleur-text-noir);
}

.burger.open li {
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

.burger.open li a {
  opacity: 1;
  display: flex;
  justify-content: center;
  padding: 8px;
  text-decoration: none;
}


.burger li.org {
  border: 2px solid var(--couleur-bouton-action);
}

.orange {
  color: var(--couleur-text-noir);
  text-decoration: none;
}


@media (min-width: 768px) {

        .burger li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 150px;
            border-radius: 8px;
            text-align: center;
        }

        .burger li.org a {
            display: flex;
        }

        .burger li a {
            opacity: 1;
            display: flex;
            padding: 5px 70px;
            text-decoration: none;
        }
        
        .burger li:hover {
            background-color: var(--couleur-text-noir);
        }

        .burger li a:hover {
            color: var(--couleur-principale);
            border-color: var(--couleur-text-noir);
        }


        .burger li.org:hover {
            background-color: var(--couleur-bouton-action);
        }

        .burger li.org a:hover {
            color: var(--couleur-principale);
            border-color: var(--couleur-text-noir);
        }
    }